*{
    padding: 0px;
    margin: 0px;
}
ul,li{
    list-style-type: none;
}
#content{
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    overflow: hidden;
    position: absolute;
    border: 1px solid #cccccc;
}

.content-wrap{
    height: 100%;
    position: relative;
}
.content-wrap > li{
    width: 100%;
    height: 100%;
    background: #cae1ff;
    color: red;
    float: left;
    overflow: hidden;
    position: relative;
}
li:nth-child(2){
    background: #9dcb9b;
}
li:nth-child(3){
    background: #ffff00;
}